.table {
  width: 100vw;
}

.table-head {
  background-color: rgb(8, 115, 197);
  color: white;
  line-height: 50px;
}

.table-body {
  text-align: center !important;
}

.center {
  margin-right: auto !important;
  margin-left: auto !important;
}

.fabButton {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
}